<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="none" style="width: 100%;">
    <img src="/static/images/bg1.jpg" style="left:0; top:0;" width="100%" height="400px">
    <div style="position:absolute; z-index:2; right:200px; top:250px">
<span style="color: #ffffff;font-size: 20px;">
　　　　林花谢了春红,太匆匆,无奈朝来寒雨晚来风
</span>
　　</div>
    <div style="position:absolute; z-index:2; right:50px; top:300px">
<span style="color: #ffffff;font-size: 20px;">
　　　　胭脂泪,相留醉,几时重,自是人生长恨水长东
</span>
　　</div>
</div>
</body>
</html>